body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 99vw;
  height: 90vh;
  background-color: rgb(209, 240, 240);
  font-style: normal
}

h1 {
  font-size: 53px;
  color: rgb(4, 113, 255);
  text-align: center;
}

form {
  height: 460px;
  width: 350px;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(4, 113, 255);
  border-radius: 20px;
  padding: 20px 0;
  transition: 0.3s;
}

form:hover {
  box-shadow: 0px 0px 20px -8px #000000;
}

.but {
  padding: 15px 30px;
  margin: 10px;
}

input {
  background-color: rgb(209, 240, 240);
  border-radius: 10px;
  padding: 8px;
  border: 1px solid rgb(4, 113, 255);
}

select {
  background-color: rgb(209, 240, 240);
  border-radius: 10px;
  padding: 8px;
  border: 1px solid rgb(4, 113, 255);
}

label {
  font-weight: bold;
}

button {
  padding: 12px 25px;
  border-radius: 10px;
  background-color: rgb(209, 240, 240);
  border: 1px solid rgb(4, 113, 255);
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: rgb(131, 188, 235);
  transform: scale(1.05);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}
